
 h1 {
    font-family: 'Poppins', sans-serif;
 }

.title-section2 { 
    color:#e44200 ;
 font-size: 35px; font-weight: 600;
 text-align: center;
margin-bottom: 30px;
 margin-top: 74px;
}

.text-section2 {
    color: #0d3120;
font-size: 25px ; font-weight: 450px;
line-height: 90px;
}

.formDecor {
    border-radius: 25px;

}

.buttondeCor {
background-color: #ffb000;
color: white;
border-radius: 25px;
width: 120px ;
height: 43px;
text-align: center;
font-family: poppins;
font-size: 16px;
font-weight: 200px;

}

.buttondeCor:hover {
    background-color: #e44200;
    color: white;
}

.background-section3 { 
    background-color: #ffb000 ;
}

.title-section3 { 
    color: white ;
 font-size: 35px; font-weight: 600;
}

ul.list-group li {
    list-style-type: none;
    margin-bottom: 5px;
}

.text-section3 {
color: white;
text-align: left;

}

.title-section4 {
    color: #e44200;
    font-size: 35px; font-weight: 600;
    padding: 80px 0px 40px 0px ;
}

.spanColor {

    background-color: #ffb000;
    color: white;
    padding: 0px 5px 0px 5px;

}

.text-section4 {
    font-size: 25px;
    color: #707070;
    
}



.personResponsive {
    width: 90%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.removepadding {
    padding: 0px 0px 0px 0px;
}

.imageFormat {
padding: 115px 0px 115px 0px;
}

.title-section5 {
    color:white ;
    font-size: auto; font-weight: 600;
padding: 60px 0px 0px 90px;
margin: auto;
}



.background-section5 {
background-color: #ffb000;
}

.title-section6 {
    color: #0d3120;
    font-size: 25px; font-weight: 600;
    text-align: center;
    padding: 60px 0px 30px 0px ;
}

.colorFooter{
background-color: #0d3120;
width: auto;
}

.colorFooter1 {
background-color: #032b18;
width: auto;
height: 60px;

}

.footer2text {
font-size: 18px ;
color: white;
text-align: center; 
padding: 20px;

}

.formImg {
margin: 0px;
padding: 0px;

}

.logoalign {
    text-align: center;
    padding: 100px;
}

form {

   margin: auto;
}

@media (max-width:768px) {
    .alinhamento  {
      margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .personResponsive {
      display: none;
    }
}

@media screen and (max-width: 768px) {
    .imageNorthPortugal {
      display: none;
    }
}



@media screen and (min-width: 992px) {
    .title-section5 {
      font-size: 50px;
    }
}