
 h1 {
    font-family: 'Poppins', sans-serif;
 }

.h850 {
 height: 850px;
 }

 .header{
     background-image: url('./imagens/desktopfundo.png');
     height: 100vh;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;

    }

.HeaderTittle {
    color: white;
    font-size: 55px;

}


.nav-link{
padding: 20px 0px 10px 0px;
text-align: center;

}

.navbar-collapse {
    background-color: #0d3120;
}

.HeaderSUBtittle {
   color: white;
    font-family: 'poppins', sans-serif;
    font-size: 18px;

}

.pb_navbar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    font-family: "Montserrat", Arial, sans-serif;
}

.nav-link {
font-family: 'poppins', sans-serif;
font-size: 18px;
color: white!important;
margin-right: 30px;
}
   a


.btn-success {
    background-color: #ffb000;
}

 .alignAllCenter {
    align-items: center;
    justify-content: center;
    display: flex;
 }

.title-section2 { 
    color:#e44200 ;
 font-size: 50px; font-weight: 600;
 text-align: center;
padding: 0px 0px 60px 0px;
}

.text-section2 {
    color: #0d3120;
font-size: 28px ; font-weight: 450px;
line-height: 90px;
font-family: 'poppins', sans-serif;
}

.formDecor {
    border-radius: 25px;

}

.buttonDecor {
background-color: #ffb000;
color: #032b18;
border-radius: 25px;
width: 120px ;
height: 43px;
text-align: center;
font-family: 'poppins', sans-serif;
font-size: 16px;
font-weight: 200px;
font-weight: bold;
}

.buttonDecor:hover {
    background-color: #e44200;
    color: white;
}

.background-section3 { 
    background-color: #ffb000 ;
}

.title-section3 { 
    color: white ;
 font-size: 50px; font-weight: 600;
margin-top: -130px;
margin-left: 50px;
}



ul.list-group li {
    list-style-type: none;
    margin-bottom: 20px;
}

.text-section3 {
color: white;
text-align: left;
font-family: 'poppins', sans-serif;
font-weight:500;
margin-top: 100px;
font-size: 22px;

}

#carousel-indicators-stayshere li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color:#e44200;
}
.title-section4 {
    color: #e44200;
    font-size: 50px; font-weight: 600;
    padding: 0px 0px 40px 0px ;
    margin-top: -130px;
}

.spanColor {

    background-color: #ffb000;
    color: white;
    padding: 0px 5px 0px 5px;

}

.text-section4 {
    font-size: 25px;
    color: #707070;
    text-align: justify;
    
}

.waveajust {
    position: relative;
    width: 100%;
}

.imgwave {
    position: absolute;
    bottom: 0;
   right: 0 ;
 width: 100px;
 padding-bottom: 40px;


}

.personResponsive {
    width: 90%;
    height: auto;
    position: relative;
    bottom: 0;
}



.imageFormat {
padding: 115px 0px 115px 0px;
}

.title-section5 {
    color:white ;
    font-size: 50px; font-weight: 600;
padding: 60px 0px 0px 90px;
margin: auto;
}
.imageNorthPortugal{
justify-content: center;
    align-content: center;
    display: grid;
}
.background-section5 {
background-color: #ffb000;
}

#orangeForm {
    position: absolute;
     margin-left: 87px;
     width: 100px;

}

.title-section6 {
    color: #0d3120;
    font-size: 25px; font-weight: 600;
    text-align: center;
    padding: 60px 0px 30px 0px ;
}

.colorFooter{
background-color: #0d3120;
width: auto;
}

.colorFooter1 {
background-color: #032b18;
width: auto;
height: 60px;
padding: 10px;

}

.footer2text {
font-size: 18px ;
color: white;
text-align: center; 

}

.formImg {
margin: 0px;
padding: 0px;

}

.logoalign {
    text-align: center;
    padding: 100px;
}

form {

   margin: auto;
}

.form-control{

    height: calc(1.5em + 0.75rem + 10px);
}




@media screen and (max-width: 768px) {
    #orangeForm    {
      width: 50px;
      margin-left: 63px;
    }

    .imageNorthPortugal {
        display: none;
      }
      .VanishInMobile {
        display: none;
      }

      .personResponsive {
        display: none;
      }

      .HeaderTittle {
        font-size: 40px;
        
    }

    .imagefrontpage {
        display: none;
      }

      .alinhamento  {
        margin: auto;
      }

      .title-section5 {
        padding: 60px 0px 0px 63px;
        font-size: 45px;
       }

       .title-section5 {
        padding: 60px 0px 0px 63px;
       }

       .header{
        background-image: url('./imagens/mobilefundo.png');
    }

    .carousel-2 {
        margin-top: 50px;
    }

    .northPadding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .title-section4 {
        font-size: 45px;
    }
}

@media screen and (min-width: 992px) {
    .title-section5 {
      font-size: 55px;
    }
    .navbar-collapse {
        background-color: transparent;
      }
}

.w-100{
    border-radius: 5px;
}

.section3List{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #e44200;
    border-radius: 5px;
    margin-top: 15px;
    list-style-type: circle;
    list-style-position: inside;
}

.text-sectionvision {
    font-size: 25px;
    color: white;
    text-align: justify;
}

.title-sectionvision { 
    color: white ;
 font-size: 50px; font-weight: 600;
margin-top: -130px;
margin-left: 50px;
}

.imagevision{
    border-radius: 5px;
}

.sectionvalueList{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    background-color: #e44200;
    border-radius: 5px;
    margin-top: 10px;
    list-style-type: circle;
    list-style-position: inside;
}

.title-tickets { 
    color: #e44200;
    font-size: 45px; 
    font-weight: 600;
    padding-top: 25px;
    text-align: center;
}

.button-site{
    background-color: #e44200;
    color: white;
    border-radius: 25px;
    width: 150px ;
    height: 60px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-site:hover{
    background-color: #ffb000;
    color: #032b18;
}

#timer {
    font-size: 60px;
    font-weight: 500;
    color: black;
    padding-top: 1px;
    width: 100px;
    color: black;
    text-align: center;
    display: inline;
    font-family: "Roboto", Sans-serif;
}

#timer div {
    display: inline-block;
    width: 250px;
    padding: 5px;
    background: #ffb000;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid #ffb000;
    margin: 10px;
    text-align: center;
}

#timer div span {
    color: black;
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
    margin-top: -15px;
}

span{
    font-family: "Montserrat", Sans-serif;
}

.timer-cont{
    margin-left: 75px;
}

@media (max-width: 500px) { 
    #timer{
        font-size: 20px;
        font-weight: 400;
        color: black;
        padding-top: 1px;
        color: black;
        text-align: center;
        display: flex;
        font-family: "Roboto", Sans-serif;;
    }

    #timer div{
        display: inline;
        padding: 5px;
        background: #ffb000;
        border-radius: 100px 100px 100px 100px;
        border: 2px solid #ffb000;
        text-align: center;
        margin-left: -5px;
    }

    #timer div span{
        color: black;
        display: block;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
        margin-top: 0px;
    }

    .elements{
        width: 50px;
    }

    .timer-cont{
        margin-left: 0;
    }
}

@media (min-width: 801px){
    #timer {
        font-size: 60px;
        font-weight: 500;
        color: black;
        padding-top: 1px;
        width: 100px;
        color: black;
        text-align: center;
        display: inline-flex;
        font-family: "Roboto", Sans-serif;
    }
    
    #timer div {
        display: inline-block;
        width: 250px;
        padding: 5px;
        background: #ffb000;
        border-radius: 100px 100px 100px 100px;
        border: 2px solid #ffb000;
        margin-left: 5px;
        text-align: center;
    }
    
    #timer div span {
        color: black;
        display: block;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 10px;
        margin-top: -15px;
    }
    
    span{
        font-family: "Montserrat", Sans-serif;
    }
    .elements{
        width: 200px;
    }
}