
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 h1 {
    font-family: 'Poppins', sans-serif;
 }

 h2 {
    font-family: 'Poppins', sans-serif;
 }

.h850 {
 height: 850px;
 }

 .h450 {
     height: 450px;
 }

 .h365{
   height: 365px;
   background-color: #032b18;
 }
 #entrance{
     background-color: #e0dab8;
 }

 .header{
    background-image: url('imagens/morning/1920-1980-sky.png');
    background-size: cover;
    background-repeat: no-repeat;
     height: 100vh;
     top: 0;
     left: 0;
    }

    .morning-sky{
        position: fixed;
        top: 0px;
        left: 0;
        z-index: -2;
    }

    .mountain-3
    {
      position: relative;
      top: 150px;
      left: 0;
      z-index: 2;
    }
    .mountain-4
    {
      position: absolute;
      top: 175px;
      left: 0px;
      z-index: 3;
    }

    .mountain-5
    {
      position: absolute;
      top: 210px;
      left: 0px;
      z-index: 4;
    }

    .mountain-6
    {
      position: absolute;
      top: 918px;
      left: 0px;
      z-index: 5;
    }

    .trees-6
    {
      position: absolute;
      top: 425px;
      left: 0px;
      z-index: 4;
    }

    .trees-7
    {
      position: absolute;
      top: 490px;
      left: 30px;
      z-index: 5;
    }

    #contact-btn{
        color: white;
    }

.HeaderTittle {
    color: white;
    font-size: 55px;

}


.nav-link{
  text-align: center;
}

.navbar-collapse {
    background-color: #0d3120;
}

.HeaderSUBtittle {
   color: white;
    font-family: 'poppins', sans-serif;
    font-size: 18px;

}

.pb_navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    font-family: "Montserrat", Arial, sans-serif;
    background-image: linear-gradient(rgb(151, 185, 216), rgba(255,0,0,0));
}

.nav-link {
font-family: 'poppins', sans-serif;
font-size: 18px;
color: white!important;
}



.btn-success {
    background-color: #ffb000;
}

 .alignAllCenter {
    align-items: center;
    justify-content: center;
    display: flex;
 }

.title-section2 { 
    color:#e44200 ;
 font-size: 50px; font-weight: 600;
 text-align: center;
padding: 0px 0px 60px 0px;
}

.text-section2 {
    color: #0d3120;
font-size: 28px ; font-weight: 450px;
line-height: 90px;
font-family: 'poppins', sans-serif;
}

.formDecor {
    border-radius: 25px;

}

.buttonDecor {
background-color: #ffb000;
color: #032b18;
border-radius: 25px;
width: 120px ;
height: 100px;
text-align: center;
font-family: 'poppins', sans-serif;
font-size: 16px;
font-weight: 200px;
font-weight: bold;
}

.buttonDecor:hover {
    background-color: #e44200;
    color: white;
}

.background-section3 { 
    background-color: #ffb000 ;
}

.title-section3 { 
    color: white ;
 font-size: 50px; font-weight: 600;
margin-top: -130px;
margin-left: 50px;
}



ul.list-group li {
    list-style-type: none;
    margin-bottom: 20px;
}

.text-section3 {
color: white;
text-align: left;
font-family: 'poppins', sans-serif;
font-weight:500;
margin-top: 100px;
font-size: 22px;

}

#carousel-indicators-stayshere li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color:#e44200;
}

.carousel-indicators{
    z-index: 1;
}
.title-section4 {
    color: #e44200;
    font-size: 50px; font-weight: 600;
    padding: 0px 0px 40px 0px ;
    margin-top: -130px;
}

.spanColor {

    background-color: #ffb000;
    color: white;
    padding: 0px 5px 0px 5px;

}

.text-section4 {
    font-size: 25px;
    color: #707070;
    text-align: justify;
    
}

.waveajust {
    position: relative;
    width: 100%;
}

.imgwave {
    position: absolute;
    bottom: 0;
   right: 0 ;
 width: 100px;
 padding-bottom: 40px;


}

.personResponsive {
    width: 90%;
    height: auto;
    position: relative;
    bottom: 0;
}



.imageFormat {
padding: 115px 0px 115px 0px;
}

.title-section5 {
    color:white ;
    font-size: 50px; font-weight: 600;
padding: 60px 0px 0px 90px;
margin: auto;
}
.imageNorthPortugal{
justify-content: center;
    align-content: center;
    display: grid;
}
.background-section5 {
background-color: #ffb000;
}

#orangeForm {
    position: absolute;
     margin-left: 87px;
     width: 100px;

}

.title-section6 {
    color: #0d3120;
    font-size: 25px; font-weight: 600;
    text-align: center;
    padding: 60px 0px 30px 0px ;
}

.colorFooter{
background-color: #0d3120;
width: auto;
}

.colorFooter1 {
background-color: #032b18;
width: auto;
height: 60px;
padding: 10px;

}

.footer2text {
font-size: 18px ;
color: white;
text-align: center; 

}

.formImg {
margin: 0px;
padding: 0px;

}

.logoalign {
    text-align: center;
    padding: 100px;
}

form {

   margin: auto;
}

.form-control{

    height: calc(1.5em + 0.75rem + 10px);
}




@media screen and (max-width: 768px) {
    #orangeForm    {
      width: 50px;
      margin-left: 63px;
    }

      .VanishInMobile {
        display: none;
      }

      .personResponsive {
        display: none;
      }

      .HeaderTittle {
        font-size: 40px;
        
    }

    .imagefrontpage {
        display: none;
      }

      .alinhamento  {
        margin: auto;
      }

      .title-section5 {
        padding: 60px 0px 0px 63px;
        font-size: 45px;
       }

       .title-section5 {
        padding: 60px 0px 0px 63px;
       }

       .header{
        background-image: url('./imagens/mobilefundo.png');
        height: 100vh;
        background-position-y: 0;
        background-size: cover;
    }

    .carousel-2 {
        margin-top: 50px;
    }

    .northPadding {
        padding-left: 20px;
        padding-right: 20px;
    }

    .title-section4 {
        font-size: 45px;
    }
}

@media screen and (min-width: 992px) {
    .title-section5 {
      font-size: 55px;
    }
    .navbar-collapse {
        background-color: transparent;
      }
}

.w-100{
    border-radius: 5px;
}

.section3List{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-color: #e44200;
    border-radius: 5px;
    margin-top: 15px;
    list-style-type: circle;
    list-style-position: inside;
}

.text-sectionvision {
    font-size: 25px;
    color: white;
    text-align: justify;
}

.title-sectionvision { 
    color: white ;
 font-size: 50px; font-weight: 600;
margin-top: -130px;
margin-left: 50px;
}

.imagevision{
    border-radius: 5px;
}

.sectionvalueList{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    background-color: #e44200;
    border-radius: 5px;
    margin-top: 10px;
    list-style-type: circle;
    list-style-position: inside;
}

.title-tickets { 
    color: #e44200;
    font-size: 45px; 
    font-weight: 600;
    padding-top: 25px;
    text-align: center;
}

.button-site{
    background-color: #e44200;
    color: white;
    border-radius: 25px;
    width: 150px ;
    height: 60px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-site:hover{
    background-color: #ffb000;
    color: #032b18;
}

#timer {
    font-size: 60px;
    font-weight: 500;
    color: black;
    padding-top: 1px;
    width: 100px;
    color: black;
    text-align: center;
    display: inline;
    font-family: "Roboto", Sans-serif;
}

#timer div {
    display: inline-block;
    width: 250px;
    padding: 5px;
    background: #ffb000;
    border-radius: 100px 100px 100px 100px;
    border: 2px solid #ffb000;
    margin: 10px;
    text-align: center;
}

#timer div span {
    color: black;
    display: block;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
    margin-top: -15px;
}

span{
    font-family: "Montserrat", Sans-serif;
}

.timer-cont{
    margin-left: 75px;
}

@media (max-width: 500px) { 
    #timer{
        font-size: 20px;
        font-weight: 400;
        color: black;
        padding-top: 1px;
        color: black;
        text-align: center;
        display: flex;
        font-family: "Roboto", Sans-serif;;
    }

    #timer div{
        display: inline;
        padding: 5px;
        background: #ffb000;
        border-radius: 100px 100px 100px 100px;
        border: 2px solid #ffb000;
        text-align: center;
        margin-left: -5px;
    }

    #timer div span{
        color: black;
        display: block;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
        margin-top: 0px;
    }

    .elements{
        width: 50px;
    }

    .timer-cont{
        margin-left: 0;
    }
    
    

    

}

.img-displayed {
  display: block;
    margin-left: auto;
    margin-right: auto;
}



@media (min-width: 769px){
    #timer {
        font-size: 60px;
        font-weight: 500;
        color: black;
        padding-top: 1px;
        width: 100px;
        color: black;
        text-align: center;
        display: inline-flex;
        font-family: "Roboto", Sans-serif;
    }
    
    #timer div {
        display: inline-block;
        width: 250px;
        padding: 5px;
        background: #ffb000;
        border-radius: 100px 100px 100px 100px;
        border: 2px solid #ffb000;
        margin-left: 5px;
        text-align: center;
    }
    
    #timer div span {
        color: black;
        display: block;
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 10px;
        margin-top: -15px;
    }
    
    span{
        font-family: "Montserrat", Sans-serif;
    }
    .elements{
        width: 200px;
    }

    .header{
        background-size: cover;
        background-position-y: -200px;
    }

}

#theMotionPath{
    fill: none;
    stroke: none;
    stroke-width: 1;
    stroke-linecap: butt;
    stroke-linejoin:  miter;
    stroke-opacity: 1;
    z-index: 4;
  }

#sun{
    z-index: 0;
}

svg {
    position: fixed;
    display: inline;
    top: 0;
    left: 0;
    z-index: -1;
  }

.white-section{
    background-color: white;
    z-index: 3;
}

.hide{
    z-index: 4;
}


#tittle-general{  
    color: #0d3120;
    font-size: 45px; 
    font-weight: 600;
   
    padding-bottom: 60px;
    color: #0d3120;
    text-align: center;
    font-family: 'poppins', sans-serif;

}

.text-whh{
    color: #0d3120;
    font-size: x-large;
    color: #0d3120;
    font-weight: 500 ;
    font-family: 'poppins', sans-serif;
}


.mountain-background{
background-image: url('imagens/mountaing-1-section.svg');
background-size: cover;
background-repeat: no-repeat;
 height: 100vh;
 top: 0;
 left: 0;

}

.tittle-RTN{
    color: white;
font-size: 40px;
    font-family: 'poppins', sans-serif;

}

body {
    background: #aaa;
    font-family: "Open Sans", sans-serif;
  }
  
  .slider {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #777;
    overflow: hidden;
  }
  .slider__wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    top: 0%;
    left: 0;
    right: auto;
    overflow: hidden;
    transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform-origin: 0% 50%;
    transition-delay: 450ms;
    opacity: 0;
  }
  .slider__wrap--hacked {
    opacity: 1;
  }
  .slider__back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center;
    background-repeat: none;
    transition: filter 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .slider__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0%;
    background-size: auto 133.3333%;
    background-position: center;
    background-repeat: none;
    transform: scale(0.75);
    transition: transform 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 450ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 450ms step-end;
    opacity: 0;
    box-shadow: 0 3vh 3vh rgba(0, 0, 0, 0);
    padding: 15vh;
    box-sizing: border-box;
  }
  .slider__content {
    position: relative;
    top: 50%;
    width: auto;
    transform: translateY(-50%);
    color: white;
    font-family: "Heebo", sans-serif;
    opacity: 0;
    transition: opacity 450ms;
  }
  .slider__content h1 {
    font-weight: 900;
    font-size: xxx-large;
    line-height: 0.85;
    margin-bottom: 0.75vh;
    pointer-events: none;
    text-shadow: 0 0.375vh 0.75vh rgba(0, 0, 0, 0.1);
  }
  .slider__content a {
    cursor: pointer;
    font-size: 2.4vh;
    letter-spacing: 0.3vh;
    font-weight: 100;
    position: relative;
  }
  .slider__content a:after {
    content: "";
    display: block;
    width: 9vh;
    background: white;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 6vh;
    transform: translateY(-50%);
    transform-origin: 0% 50%;
    transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .slider__content a:before {
    content: "";
    border-top: 1px solid white;
    border-right: 1px solid white;
    display: block;
    width: 1vh;
    height: 1vh;
    transform: translateX(0) translateY(-50%) rotate(45deg);
    position: absolute;
    font-family: "Heebo", sans-serif;
    font-weight: 100;
    top: 50%;
    left: 15vh;
    transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .slider__content a:hover:after {
    transform: scaleX(1.5);
    transition: transform 1200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .slider__content a:hover:before {
    transform: translateX(6vh) translateY(-50%) rotate(45deg);
    transition: transform 1200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .slider__slide {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: transform 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 600ms;
    pointer-events: none;
    z-index: 0;
  }
  .slider__slide--active {
    transform: translatex(0%);
    z-index: 2;
  }
  .slider__slide--active .slider__wrap {
    transform: translateX(0);
    transform-origin: 100% 50%;
    opacity: 1;
    -webkit-animation: none;
            animation: none;
  }
  .slider__slide--active .slider__back {
    filter: blur(1.5vh);
    transition: filter 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: 900ms !important;
  }
  .slider__slide--active .slider__inner {
    transform: scale(0.8);
    box-shadow: 0 1vh 6vh rgba(0, 0, 0, 0.2);
    pointer-events: auto;
    opacity: 1;
    transition: transform 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), box-shadow 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 1ms step-end;
    transition-delay: 900ms;
  }
  .slider__slide--active .slider__content {
    opacity: 1;
    transition-delay: 1350ms;
  }
  .slider__slide:not(.slider__slide--active) .slider__wrap {
    -webkit-animation-name: hack;
            animation-name: hack;
    -webkit-animation-duration: 900ms;
            animation-duration: 900ms;
    -webkit-animation-delay: 450ms;
            animation-delay: 450ms;
    -webkit-animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
            animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  @-webkit-keyframes hack {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(-100vw);
      opacity: 1;
    }
    51% {
      transform: translateX(-100vw);
      opacity: 0;
    }
    52% {
      transform: translateX(100vw);
      opacity: 0;
    }
    100% {
      transform: translateX(100vw);
      opacity: 1;
    }
  }
  @keyframes hack {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(-100vw);
      opacity: 1;
    }
    51% {
      transform: translateX(-100vw);
      opacity: 0;
    }
    52% {
      transform: translateX(100vw);
      opacity: 0;
    }
    100% {
      transform: translateX(100vw);
      opacity: 1;
    }
  }
  .slider__slide:nth-child(1) .slider__back, .slider__slide:nth-child(1) .slider__inner {
    background-image: url(imagens/geres.png);
  }
  .slider__slide:nth-child(2) .slider__back, .slider__slide:nth-child(2) .slider__inner {
    background-image: url(imagens/Atividade2.png);
  }
  .slider__slide:nth-child(3) .slider__back, .slider__slide:nth-child(3) .slider__inner {
    background-image: url(imagens/Atividade4.png);
  }
  
  .sig {
    position: fixed;
    bottom: 8px;
    right: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 100;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 2px;
    z-index: 9999;
  }


  .format-number {
      color: #115c50;
    font-weight: bold;
    font-family: 'poppins' sans-serif;
  }


  

  .btn-primary{
    background-color: #ffb000;
    color: white;
    border-radius: 25px;
    width: 120px ;
    height: 43px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    
    }

  .tittle-form{
    color: #0d3120;
    font-size: 45px; 
    font-weight: 600;
   

    color: #0d3120;
    text-align: center;
    font-family: 'poppins', sans-serif;
  }

  @media screen and (max-width: 3500px) and (min-width: 1792px) {
    .Medium-screen{
      display: none;
    }
    .tablet-screen {
          display: none;
         }
         
    .mobile-screen {
        display: none;
       }
    
  }

  @media screen and (max-width: 1792px) and (min-width: 1300px) {
    .banner{
      display: none;
    }
    .tablet-screen {
          display: none;
         }
         
    .mobile-screen {
        display: none;
       }
    
  }

  @media screen and (max-width: 1300px) and (min-width: 768px) {
    .banner{
      display: none;
    }
    .Medium-screen{
      display: none;
    }
    .mobile-screen {
        display: none;
       }
    
  }

  @media screen and (max-width: 768px){
    .banner{
      display: none;
    }
    .Medium-screen{
      display: none;
    }
    .tablet-screen {
      display: none;
     }
     .logo-lg-media{
       display: none;
     }
  }


  @media screen and (max-width: 768px){
  
     .logo-lg-media{
       width: 250px;
     }

     .tittle-RTN{
       font-size: 30px;
     }

     .text-rtn {
       font-size: 20px;
     }

     .text-whh {
       font-size: 25px;
     }

     .image-size {
       width: 100px;
     } 

  }

    
 .imagevision{
    width: 100%;
 }

 

.text-rtn {
  color: white;
  font-size:  25px;

}


.scrollJq {
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 999 !important;
}

.scrollJq::before {
  animation: bounce 1s ease infinite;
  bottom: 2rem;
  color: rgb(168, 164, 162);
  content: '╲╱';
  font-size: 2rem;
  height: 4rem;
  left: 50%;
  letter-spacing: -1px;
  line-height: 4rem;
  margin-left: -3rem;
  opacity: 0.8;
  position: fixed;
  text-align: center;
  width: 6rem;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}